

.meatTpng {
    padding-left: 100px;
}

.nonMeatTopng {
    padding-left: 80px; 
    padding-right: 40px;
    
}

.meatContainer {
    height: 100%;
}

.nonMeatContainer {
    height: 100%;
}

.crustContainer {
    height: 250px;
}

.cheeseContainer {
    height: 250px;
}

.sauceContainer {
    height: 250px;
}

