

.meatTpng {
    padding-left: 140px;
    font-weight: bold;
}

.nonMeatTopng {
    padding-left: 130px; 
    font-weight: bold;
    
}

.meatContainer {
    height: 750px;
}

.nonMeatContainer {
    height: 750px;
}


.crustContent {
    padding-left: 150px;
    font-weight: bold;
}
.crustContainer {
    height: 250px;
 
}

.cheeseContainer {
    height: 250px;

}

.sauceContainer {
    height: 250px;
}

.sizeContent {
    font-weight: bold;
}


.cheeseContent {
    padding-left: 130px;
    font-weight: bold;

}

.sauceContent {
    padding-left: 150px;
    font-weight: bold;
}

.toppingBtn {
    border: none;
}

.reviewBtn{
    border: none;
}

.header {
   color: #F4FA58;
}

.navBarTab {
    color: #F4FA58;
}

.headerText {
    font-family: 'Mansalva', cursive;
}

.pizzaBackground {
    height: 1200px
}

@media only screen and (max-width: 1200px) {
    .meatTpng {
        padding-left:70px;
    }

    .nonMeatTopng {
        padding-left: 70px; 
    }
    .mainTitle {
        position: relative;
    left: -189px;
    }

}
@media only screen and (max-width: 950px) {

    
    .sauceContent {
        padding-left: 50px;  
        padding-bottom: 10px
    }
    .sauceContainer {
        height: 225px;
    }

    .cheeseContent {
        padding-left: 40px;
    }
    .cheeseContainer {
        height: 225px;
    }
    .crustContent {
        padding-left: 10px;
    }
    .crustContainer {
        height: 225px;
    }
    
    .fa-circle {
        display:inline;
    }

    .pizzaBackground {
        height: 1150px;
    }
    .header {
        text-align:center;
        font-size: 25px !important;
     }

    .meatTpng {
        padding-left: 50px;
    }
    
    .nonMeatTopng {
        padding-left: 50px; 
    }
   
    
  }

  @media only screen and (max-width: 768px) {

    .column {
        padding: 0px !important;
    }

    .sauceContent {
        padding-left: 225px;  
     
    }
    .sauceContainer {
        height: 225px;
    }

    .cheeseContent {
        padding-left: 225px;
    }
    .cheeseContainer {
        height: 225px;
    }
    .crustContent {
        padding-left: 225px;
    }
    .crustContainer {
        height: 225px;
    }
    
    .fa-circle {
        display:none;
    }

    .pizzaBackground {
        height: 1300px;
    }
    .header {
        text-align:center;
        font-size: 25px !important;
     }
     .meatContainer {
        height: 475px;
    }
    
    .nonMeatContainer {
        height: 700px;
    }
    .meatTpng {
        padding-left: 125px;
        column-count: 2;
    }
    
    .nonMeatTopng {
        padding-left: 100px; 
        column-count: 2;
        column-gap: 0x;
    }
    .nonMeatInline {
        display: inline;
    }
  }
  

  @media only screen and (max-width: 400px) {

    .column {
        padding: 0px !important;
    }
    .sizeChoices {
        text-align: left !important;
        padding-left: 40px;
    }
    
    .sauceContent {
        padding-left: 50px;  
    }
    .sauceContainer {
        height: 275px;
    }

    .cheeseContent {
        padding-left: 40px;
    }
    .cheeseContainer {
        height: 230px;
    }
    .crustContent {
        padding-left: 40px;
    }
    .crustContainer {
        height: 210px;
    }
    
    .fa-circle {
        display:none;
    }

    .pizzaBackground {
        display: none;
    }
    .header {
        text-align:center;
     }
     .meatContainer {
        height: 750px;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    .nonMeatContainer {
        height: 1225px;
    }
    .meatTpng {
        padding-left: 100px;
        column-count: 1;
        display: inline-block;
    }
    
    .nonMeatTopng {
        padding-left: 90px; 
        column-count: 1;
        padding-top: 40px !important;
    }

    .reviewBtn {
        font-size: 22px !important;
    }

    .pizzaBtn {
        font-size: 22px !important;
    }
    .toppingsContainer {
        margin-top: -65px;
        width: 130%;
        margin-left: -40px;
        height: 110%;
    }
    .cardContainer {
        background-color: yellow !important;
    }
  }

 